################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TriadNS/.vs/TriadNSim/FileContentIndex
